<h1><%= @article.title %></h1>
<h5>by <%= @article.user.username if @article.user %></h5>
<p><%= @article.description %></p>

<div><%= link_to "Edit", edit_article_path(@article) %></div>
<div><%= link_to "Destroy", article_path(@article),
                method: :delete,
                data: { confirm: "Are you sure?" } %></div>
<div><%= link_to "Back to listings", articles_path %></div>
